{% extends 'main.html' %}
{% block content%}
    <h1>Reset Password</h1>
    
      <div >Enter your email to reset password</div>
      
      <form method="POST">
        {% csrf_token %}
        <div >
          <input type="email" name='email' required>
          <span></span>
          <label>Email</label>
        </div>
        
        <input type="submit" value="Reset Password">
        <div >
          Not a member? <a href="{% url 'register'%}">Signup</a>
          <p>Remember your Password? <a href="{% url 'login'%}">Login</a></p> 
        </div>
{% endblock %}