{% extends 'main.html' %}
{% block content%}
    {% if jwt_user %}
        <p>Welcome, {{ jwt_user.username }}!</p>
       <p>  Weather: {{ temperature }}°C, {{ description }}
        | Nepali Date: {{ nepali_date }}
       </P>
        <hr>
        <h2>News Portal</h2>
        <p>Explore the latest news and updates.</p>
        <div style="margin-bottom: 20px;">
            <form method="get" action="{% url 'home' %}">
                <input type="text" name="q" placeholder="Search news..." value="{{ request.GET.q }}">
                <button type="submit">Search</button>
            </form>
        </div>
        
        {% for n in news %}

        <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
    
    <h3>
        <a href="{% url 'news-detail' n.slug %}" 
           style="text-decoration: none; color: inherit;">
            {{ n.title }}
        </a>
    </h3>

    <img src="{{ n.images.url }}" alt="{{ n.title }}" style="max-width: 200px;">

    <p>
        {{ n.content|truncatewords:5 }}
    </p>

    <a href="{% url 'news-detail' n.slug %}">Show More</a>
    <p style="text-align: right;"><small>{{ n.published_at }} | {{ n.comments.count }} Comments |   {{ n.view }} views</small></p>
    <p style="text-align: right;"><small>Tags: 
        {% for tag in n.tags.all %}
            {{ tag.name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </small></p>
    <p style="text-align: right;"><small></small></p>
   

    </div>
        {% empty %}
        <h1>No news available.</h1>
        {% endfor %}

    {% else %}
        <p>Please log in or register to access the portal.</p>
        <a href="{% url 'login' %}">Login</a> | <a href="{% url 'register' %}">Register</a>
    {% endif %}
{% endblock %}