{% extends 'main.html' %}
{% block content %}
<div style="margin-bottom: 20px;">
    <a href="{% url 'home' %}">Back to Home</a>
    
    <a href="{% url 'bookmark_news' news.id %}" style="margin-left: 20px;">Bookmark</a>

    <h2>{{ news.title }}</h2>
    <img src="{{ news.images.url }}" alt="{{ news.title }}" style="max-width: 100%; height: auto;">
    <p>{{ news.content }}</p>
</div>
<div>
    <h3>Related News</h3>
    {% for related in related_news %}
        <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
            <h4>
                <a href="{% url 'news-detail' related.slug %}" 
                   style="text-decoration: none; color: inherit;">
                    {{ related.title }}
                </a>
            </h4>
            <p>{{ related.content|truncatewords:10 }}</p>
        </div>
    {% empty %}
        <p>No related news found.</p>
    {% endfor %}
</div>
<div>
    <h3>Add Comments </h3>
    <form method="post" action="{% url 'add_comment' news.id %}">
        {% csrf_token %}
        <textarea name="content" placeholder="Write your comment here..." required></textarea>
        <button type="submit">Enter</button>
    </form>
    <h3>Comments</h3>
    {% for comment in news.comments.all %}
        <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px; border-radius: 5px;">
            <p><strong>@{{ comment.user.username }}</strong>:{{ comment.content }}</p>
           
            <p style="text-align: right;"><small>{{ comment.created_at|timesince }}</small></p>
        </div>
    {% empty %}
        <p>No comments yet.</p>
    {% endfor %}
{% endblock %}