{% extends 'main.html' %}
{% block content%}
    <h1>Reset Password</h1>
        
      <form method="POST">
        {% csrf_token %}

        <div >
          <input type="password" name='password' required>
          <span></span>
          <label>Password</label>
        </div>    

        <div >
            <input type="password" name='password1' required >
            <span></span>
            <label>Confirm Password</label>
        </div>    

        <input type="submit" value="Register">
        <div >
          Remember your password? <a href="{% url 'login'%}">Login</a>
        </div>
      </form>
      {% endblock %}